@charset "UTF-8";

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    background-size: cover;
}	

.container {
    background-color: lightgrey;
    width: 980px;
    height: 160px;
    margin: 5px;
    padding: 5px;
    float: left;
    border-radius: 5px;
}

.pieza {
    width: 140px;
    height: 140px;
    outline: 1px solid rgb(50, 66, 50); 
    background-color: rgb(99, 131, 99); 
    float: left;
    border-radius: 75px;
    margin: 5px;

    box-shadow: 4px 6px 4px black;
    

}

.title {
    margin:auto;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: honeydew;
    opacity: 70%;
}

.title h1 {
    text-align:center;  
}

.placeholder {
    background-color: rgb(99, 131, 99);
    outline: 1px solid rgb(50, 66, 50);;
    width: 150px;
    height: 150px;
    transition: 1s;
    float: left;
    margin: 5px;
    border-radius: 5px;
}

.placeholder.hover {
    background-color: rgb(250, 104, 46);
}

#posiciones {
    background-color: lightgrey;
    width: 980px;
    height: auto;
    margin: 5px;
    padding: 5px;
    float: left;
    border-radius: 5px;
}

  